<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>delete type</h1>
    <div th:each="el : ${post}">
    <form method="post">
        <input type="text" th:value="${el.first_name}" name="first_name" placeholder="Name" class="form-control"><br>
        <input type="text" th:value="${el.last_name}"name="last_name" placeholder="Surname" class="form-control"><br>
        <textarea  name="annotation" placeholder="Characteristic" class="form-control" th:text="${el.annotation}"/><br>
        <button type="submit" class="btn btn-success">update</button>
    </form>
    </div>
</div>
<div th:insert="blocks/footer ::footer"></div>
</body>
</html>